.container-contact {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 100px;
}

.contact-form {
    width: 45%;
    margin-bottom: 2rem;
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
    flex-direction: column;
}

.contact-form form {
    display: flex;
    flex-direction: column;
  }
  
  .contact-form label {
    margin-bottom: 0.5rem;
  }
  
  .contact-form input,
  .contact-form button {
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
  }
  
.button-form {
    display: flex;
    justify-content: center;
}

  .contact-form button {
    background-color: #f41d1d;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: all ease 0.3s;
    width: 125px;
  }

  .contact-form button:hover {
    background-color: #ab1414;
    transition: all ease 0.3s;
    scale: 1.1;
    font-weight: bold;
  }

  .container-google-maps {
    width: 45%;
  }
  
  .container-google-maps iframe {
    width: 100%;
    height: 450px;
    border-radius: 0.5rem;
  }